<div id="tablerominas" class="tablero" style="width: 156px;">
	<div ng-click="minCtrl.mostrarNumero($event)" id="00"></div>
	<div ng-click="minCtrl.mostrarNumero($event)" id="01"></div>
	<div ng-click="minCtrl.mostrarNumero($event)" id="02"></div>
	<div ng-click="minCtrl.mostrarNumero($event)" id="10"></div>
	<div ng-click="minCtrl.mostrarNumero($event)" id="11"></div>
	<div ng-click="minCtrl.mostrarNumero($event)" id="12"></div>
	<div ng-click="minCtrl.mostrarNumero($event)" id="20"></div>
	<div ng-click="minCtrl.mostrarNumero($event)" id="21"></div>
	<div ng-click="minCtrl.mostrarNumero($event)" id="22"></div>
</div>



